<!Doctype html>
<html>
<head>
  <title>Configuraci&oacute;n</title>
  <#include "/common/head.html">
  <link rel="stylesheet" type="text/css" href="/css/configuracion.css">
</head>
<body ng-app=epoweb ng-controller=configuracionController data-ng-init="init()">
<#include "/common/menu.html">
<div id=content class="content fade-in">

  <div class=fila-tarjetas-configuracion>

     <div class="card categoriasIngreso">
      <form ng-submit="addCategoriaIngreso()">
        <div class=card-title><i class="material-icons">content_cut</i><label>CATEGOR&Iacute;AS DE INGRESOS</label></div>
        <input tipe="text" placeholder="Nombre" ng-model="ngCategoria.nombre" maxlength="50" pattern="^[^\s].*([A-zÀ-ž\s]){2,25}" ng-pattern-restrict required>        
        <button class="button accept" type="submit"></button>
        <table id=table>
          <tbody>
          <tr ng-cloak id={{categoria.id}}  class="data-row fade-in"  ng-repeat="categoria in categorias" >
          <td data-id={{categoria.id}} ng-click="loadServicio($event)">{{categoria.nombre}}</td>          
          <td class=delete ><i class="material-icons" data-id={{categoria.id}} ng-click="updateCategoria($event)">clear</i></td>
          </tr>
          </tbody>
        </table>
        <label  ng-cloak class=form-message>{{messageCategoria}}</label>
      </form>
      
    </div>


    <div class="card horario"> 
      <form ng-submit="addCiudad()">
      
        <div class=card-title><i class="material-icons">query_builder </i><label class=card-title> HORARIO</label></div>
        <table id=table >
          <tbody>
          <tr ng-cloak  class="data-row fade-in" ><td>
          <input type="checkbox" ng-change="updateHorario()"  value="horario.corrido"  ng-model=horario.corrido> Corrido
          </td></tr>

          <tr ng-cloak  class="data-row fade-in" ><td>
            <label>Desde:</label>
            <select  class=time-input   ng-change="updateHorario()"   ng-model=horario.desde ng-options="item for item in horario.rango" required>
              <option value=""></option>
            </select></td>
            
            <td>
            <label>Hasta:</label>
            <select class=time-input   ng-change="updateHorario()"    ng-model=horario.hasta  ng-options="item for item in horario.rango" required>
              <option value=""></option>
            </select>
            </td>
          </tr>

          <tr ng-cloak  class="data-row fade-in" ng-if=!horario.corrido ><td>Y</td>

          <tr ng-cloak  class="data-row fade-in" ng-if=!horario.corrido ><td>
            <label>Desde:</label>
            <select  class=time-input   ng-change="updateHorario()"   ng-model=horario.desdeTarde ng-options="item for item in horario.rango" required>
              <option value=""></option>
            </select></td>
            
            <td>
            <label>Hasta:</label>
            <select class=time-input    ng-change="updateHorario()"   ng-model=horario.hastaTarde  ng-options="item for item in horario.rango" required>
              <option value=""></option>
            </select>
            </td>
          </tr>

          </tbody>
        </table>
        <label  ng-cloak class=form-message>{{messageHorario}}</label>
      </form>
    </div>

    <div class="card empleados"> 
        <div class=card-title><i class="material-icons">assignment_ind </i><label class=card-title> EMPLEADOS HABILITADOS</label></div>
        <table id=table >
          <tbody>
          <tr ng-cloak id={{ciudad.id}} class="data-row fade-in" ng-repeat="empleado in empleados" >
          <td ><input type="checkbox"  value="servicio" ng-click=toggleEmpleado(empleado) ng-model=empleado.habilitado> {{empleado.nombre}} {{empleado.apellido}}</td>
          </tr>
          </tbody>
        </table>
        <label  ng-cloak class=form-message>{{messageEmpleado}}</label>
    </div>


     <div class="card categorias">
      <form ng-submit="addCategoria()">
        <div class=card-title><i class="material-icons">label_outline</i><label class=card-title>CATEGOR&Iacute;AS DE CAJA</label></div>
        <input type="text" placeholder="Nombre" ng-model="ngCategoria.nombre" maxlength="25" pattern="^[^\s].*([A-zÀ-ž\s]){2,25}" ng-pattern-restrict required>
        <table id=table>
          <tbody>
          <tr ng-cloak id={{categoria.id}} class="data-row fade-in" ng-repeat="categoria in categorias" >
          <td>{{categoria.nombre}}</td>
          <td class=delete ><i class="material-icons" data-id={{categoria.id}} ng-click="removeCategoria($event)">clear</i></td>
          </tr>
          </tbody>
        </table>
        <label  ng-cloak class=form-message>{{messageCategoria}}</label>
      </form>

    </div>



    <div class="card ciudades"> 
      <form ng-submit="addCiudad()">
        <div class=card-title><i class="material-icons">place </i><label class=card-title> CIUDADES</label></div>
        <input type="text" placeholder="Ciudad" ng-model="ngCiudad.nombre"  maxlength="25" pattern="^[^\s].*([A-zÀ-ž\s]){2,25}" ng-pattern-restrict required>
        <table id=table >
          <tbody>
          <tr ng-cloak id={{ciudad.id}} class="data-row fade-in" ng-repeat="ciudad in ciudades" >
          <td >{{ciudad.nombre}}</td>
          <td class=delete ><i class="material-icons" data-id={{ciudad.id}} ng-click="removeCiudad($event)">clear</i></td>
          </tr>
          </tbody>
        </table>
        <label  ng-cloak class=form-message>{{messageCiudad}}</label>
      </form>
    </div>


     <div class="card password"> 
      <div class=card-title><i class="material-icons">security </i><label class=card-title>ADMINISTRADOR</label></div>
      
       <form ng-submit="updateEmail()">
        <input type="emails" class=fade-in ng-model="ngEmail"   placeholder="Email" maxlength="30" required><br>
        <button class="button accept" type="submit"></button>
      </form>

      <form ng-submit="updatePassword()">
        <input type="password" class=fade-in ng-model="ngPassword"   placeholder="Nueva contrase&ntilde;a" maxlength="30" required><br>
        <input type="password" class=fade-in ng-model="ngRePassword" placeholder="Repita su nueva contrase&ntilde;a" maxlength="30" required><br>
        <button class="button accept" type="submit"></button>
      </form>
      <label  ng-cloak class=form-message>{{messageCredentials}}</label>

    </div>


  </div>


</div>
<#include "/common/javascript.html">
<script src="js/configuracionController.js" ></script>
</body>
</html>
